[Desktop Entry]
Encoding=UTF-8
Name=YTree
GenericName=YTree
Comment=XTree like file manager
Exec=ytree
Icon=ytree
Terminal=true
Type=Application
Categories=System;Utility;Core
